<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mi12"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".pierre.virtualpong.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
           <!-- android:theme="@style/FullscreenTheme"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".pierre.virtualpong.two_phones.DrawActivityServer" />
        <activity android:name=".pierre.virtualpong.two_phones.DrawActivityClient" />
        <activity android:name=".pierre.virtualpong.three_phones.DrawActivityScreen" />
        <activity android:name=".pierre.virtualpong.three_phones.DrawActivityController" />
        <activity android:name=".pierre.virtualpong.three_phones.wifidirect.WifiDirect3Activity" />
        <activity android:name=".pierre.virtualpong.two_phones.wifidirect.WifiDirect2Activity" />

        <activity android:name=".pierre.virtualpong.two_phones.local_network.LocalNetwork2Activity" />
        <activity android:name=".pierre.virtualpong.three_phones.local_network.LocalNetwork3Activity"/>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>